.contact{

  padding:100px 20px;

  text-align:center;

  background:#f8fafc;

}

.contact h2{

  font-size:34px;

  margin-bottom:40px;

}


/* ICONO WHATSAPP */

.whatsapp-container{

  display:flex;

  justify-content:center;

}

.whatsapp-icon{

  width:70px;

  cursor:pointer;

  transition:0.3s;

}

.whatsapp-icon:hover{

  transform:scale(1.1);

}